body{
    margin: 0;
    padding: 0;
    background-image: url(Sign-in-background.png);
    background-repeat: no-repeat;
    background-size: 46%;
    background-position: center;
    margin-top: 50%;

}

.loginbox{
    width: 414px;
    height: 430px;
    background-color: #eceaea;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 20px;

}

.loginbox img{
    width:350px;
    position: absolute;
    left: 7%;
}

.loginbox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
}

