*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
header{
    background-color: #f5f4f4;
    background-image:url(png_home-1-removebg-preview.png) ;
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: right;
    width: 100%;
    height: 100vh;
    font-family: 'montserrat',sans-serif;
}
.logo{
    width: 160px;
    padding-left: 0;

}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.navbar .navigation a{
    color: #0f0f0f;
    display: inline-block;
    font-size: 22;
    margin:0 1rem;
}
.navbar .navigation a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #cdac81;
    transform: scaleX(0);
    transition: 0.2s linear ;
}
.navbar .navigation a:hover::after{
    transform: scaleX(0.5);
}
.button{
    padding-left: 30px;
    font-family: 'montserrat',sans-serif;
}   
.button1{
    width: 85px;
    height: 30px;
    background-color: #cdac81;
    border-radius: 5px ;
    border: none;
    color: white;
}
.button2{
    width: 85px;
    height: 30px;
    border-color: #cdac81;
    border-radius: 5px;
}
.button2:hover{
    border: 2px solid #cdac81;
    transition: .3s;
}

.home-content{
    padding-left: 20px;
    padding-top: 50px;
    font-weight: 2000;
}
.home-content1{
    font-size: 45px;
    width: 500px;
    padding-left: 20px;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 8000 ;
}
.home-content2{
    font-size: 15px;
    padding-left: 20px;
    padding-top: 20px;
}
.category{
    margin-top: 20px;
    margin-left: 40px;
    padding: 5px 25px ;
    border: none;
    border-radius: 10px;
    border: #cdac81;
    background-color:#cdac81 ;
    
}
.category1{
    color: black;
}
.category1:hover{
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #cdac81;
    background-color: none;
    transition: .3s;
}
.product{
    width: 100%;
    height: 400px;
    background-color: #263238;
}
.product1{
    display: flex;
    justify-content: center;
    color: #f5f4f4;
    padding: 30px 0px;

}
.img-content{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}
.penjualan{
    width: 300px;
    border-radius: 10px;
    align-items: center;
}
.product-content{
    display: flex;
    padding:10px 0 ;
    color: #f5f4f4;
    text-align: center  ;
}
.abil1{
    padding-left: 120px;
}
.abil2{
    padding-right: 54px;
    padding-left: 283px;
}
.abil3{
    padding-left: 255px;
}
.best-product{
    background-color: white;
    height: 500px;
}
.best-product h2{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 25px;
    ;
}
.best-product h1{

}